.parent {
  width: 80%;
  height: 150px;
  background-color: lightblue;

    display: flex; 
    align-items: center;
   
}


.parent3 {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}